/*** FONTS ***/
@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
}

@font-face {
    font-family: HelveticaNeueCyr-Black;
    src: url(../fonts/HelveticaNeueCyr-Black.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Black;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf);
}
/*** END FONTS ***/


/*** ALL ***/
h1 {
	font-family: Gilroy-Black;
	color: #ffffff;
	font-size: 60px;
	/* line-height: 60px; */
	margin-bottom: 15px;
}

h2 {
	font-family: Gilroy-Bold;
	font-size: 30px;
	color: #323232;
}

h3 {
	font-family: HelveticaNeueCyr-Medium;
	color: #323232;
	font-size: 20px;
}

h4, .widget-title {
	font-family: HelveticaNeueCyr-Bold;
	color: #4b4b4b;
	font-size: 14px;
	margin-bottom: 0.25rem;
	text-transform: uppercase;
}

h5 {
	font-family: HelveticaNeueCyr-Bold;
	color: #323232;
	font-size: 22px;
	margin-bottom: 20px;
}

.section-description {
	font-family: Gilroy-Regular;
	font-size: 24px;
	color: #323232;
}

.section-sutitle {
	font-family: Gilroy-Medium;
	font-size: 18px;
}

/* Section title decoration */
.section-title-decoration-line {
	width: 65px;
	height: 13px;
	position: relative;
}

.section-title-decoration-quadro {
	width: 13px;
	height: 13px;
	background: #7e3300;
	position: absolute; 
} /* End section title decoration*/

p, section li:not(.contacts-section li) {
	font-family: HelveticaNeueCyr-Light;
	color: #323232;
	font-size: 18px;
}

/*
a {
	color: #ff5200;
}

a:hover {
	color: #ff5200;
	/* opacity: .75; *
} */

/* Tables */
thead tr {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 20px;
	height: 65px;
	vertical-align: middle;
	background: #f5f5f5;
	color: #323232;
}

th, td {
	border: 1px solid #c7c7c7;
	vertical-align: middle;
	height: 60px;
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
}

th img, td img {
	width: 100px;
	height: auto;
}

td span {
	font-family: HelveticaNeueCyr-Medium;
}

.wp-block-table table {
	width: 100%;
}
/* End tables */


.text-corporate-1 {
	color: #7e3300;
}

/* Модификатор цвета текста */
.text_corporate-color-1 {
	color: #7e3300;
}
/*** END ALL ***/


/*** BREAD CRUMBS ***/
.bread-crumbs {
	font-family: HelveticaNeueCyr-Light;
	color: #323232;
	font-size: 20px;
}

.bread-crumbs a {
	font-family: HelveticaNeueCyr-Light;
	color: white;
	font-size: 20px;
}
/*** END BREAD CRUMBS ***/


/*** BUTTONS ***/
.btn {
	height: 40px;
	padding-top: 8px;
}

.project-entry .btn {
	padding-top: 9px;
}

.btn.btn-sm {
	height: 35px;
}

.btn.btn-lg {
	height: 45px;
}

/* Кнопка 1 корпоративного цвета */
.btn-corporate-color-1 {
    color: #ffffff;
    background-color: #7e3300;
    border-color: #7e3300;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	text-transform: uppercase;
	max-width: 210px;
}

.btn-corporate-color-1:hover {
    color: #ffffff;
	background-color: #6b2c01;
    border-color: #6b2c01;
}

.btn-corporate-color-1:active {
    color: #ffffff!important;
    background-color: #6b2c01!important;
    border-color: #6b2c01!important;
}

.btn-corporate-color-1:focus {
	color: #ffffff;   
	box-shadow: 0 0 1px 3px rgb(126 51 0 / 50%);
	background-color: #7e3300;
	border-color: #7e3300;
} /* End кнопка 1 корпоративного цвета */

.btn-close {
    width: .35em;
    height: .35em;
}

.add_to_cart_button {
	padding-top: 6px;
	width: 100%;
	margin-top: 10px;
}

.btn-darkgrey {
    color: #f8f9fa;
    background-color: #7f1200;
    border-color: #7f1200;
	font-family: Gilroy-Regular;
	font-size: 20px;
	padding: 0.35rem 1.5rem;
}

.btn-orange:hover {
    color: #fff;
    background-color: #dc4700;
    border-color: #dc4700;
}

.btn-orange:focus {
    box-shadow: 0 0 1px 3px rgba(255,82,0,.5);
}

.btn-lg {
	font-family: Gilroy-Medium;
	padding: 0.75rem 1rem;
}

.scroll-point {
	position: relative;
	top: -75px;
}
/*** BUTTONS ***/


/*** INPUT ***/
.form-control_corporate-color-1 {
	/*display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
	font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: 1.5;
    color: #ffe5d0;
    background: none;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	margin-bottom: 20px;
    border-radius: 0.25rem; */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	border: 1px solid #7e3300;
}

.form-control-darkgrey {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
	font-family: Gilroy-Regular;
    font-size: 20px;
    line-height: 1.5;
    color: #7f1200;
    background: none;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	margin-bottom: 20px;
	border: 2px solid #7f1200;
}

/* Placeholder color */
.form-control-lightgrey::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffe5d0;
	font-family: Gilroy-Regular;
    font-size: 20px;
}
.form-control-lightgrey:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffe5d0;
   opacity:  1;
   font-family: Gilroy-Regular;
   font-size: 20px;
}
.form-control-lightgrey::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffe5d0;
   opacity:  1;
   font-family: Gilroy-Regular;
   font-size: 20px;
}
.form-control-lightgrey:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffe5d0;
   font-family: Gilroy-Regular;
   font-size: 20px;
}
.form-control-lightgrey::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffe5d0;
   font-family: Gilroy-Regular;
   font-size: 20px;
}
.form-control-lightgrey::placeholder { /* Most modern browsers support this now. */
   color:    #ffe5d0;
   font-family: Gilroy-Regular;
   font-size: 20px;
}
/* End placeholder color */


.form-label {
	color:    #323232;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	margin-bottom: 5px;
}

.form-check-label, .cat-item a, .woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a {
	font-family: HelveticaNeueCyr-Roman;
	color: #323232;
	font-size: 16px;
	margin-bottom: 0;
	text-decoration: none;
	/*text-transform: uppercase;*/
}

.form-check-label:hover, .cat-item a:hover,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:hover,
.cat-item.current-cat a,
.cat-item.current-cat span
{
	color: #7e3300;
}

.form-check-label span, .cat-item .count, .woocommerce-widget-layered-nav-list__item.wc-layered-nav-term span {
	font-family: HelveticaNeueCyr-Light;
}

ul.product-categories,
.woocommerce .woocommerce-widget-layered-nav-list {
	list-style: none;
	padding-left: 0;
	margin-top: 5px;
	margin-bottom: 30px;
}


/* Убираем стрелочки по умалчпнию у input type="number"
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} */

p.price {
	margin-bottom: 0;
}

/* Ширина поля для выбора количества продуктов */
.input-group {
    max-width: 115px;
}

/* Убираем стрелочки по умалчпнию у input type="number" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
} /* End Убираем стрелочки по умалчпнию у input type="number" */
/*** END INPUT ***/


/*** CHECKBOXES AND RADIOS ***/
/* Перенесем стандартное отображение элементов за область видимости */
input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

/* Добавим отступы к соседствующим меткам */
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

/* Перед метками добавим стилизованные контейнеры для наших пользовательских элементов */
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

/* Для флажков это будут квадраты с немного закругленными для красоты краями. */
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

/* Для переключателей это будут просто небольшие круги */
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

/* Теперь добавим индикаторы выбора. Для большего эффекта зададим также небольшую анимацию */
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/* Для флажков это будут галки */
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    
	/* Если сделать галочкм
	left: 4px;
    top: 5px;
    width: 11px;
    height: 7px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); */
	
	/* Если сделать квадратики */
	left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #7e3300;
}

/* Для переключателей — заполненные цветом круги меньшего размера, чем сам контейнер */
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #7e3300;
}

/* Скрываем индикаторы выбора, когда элемент не выбран и отображать их, когда элемент находится в выбранном состоянии */
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
/*** END CHECKBOXES AND RADIOS ***/


/*** TOP MENU 1 ***/
#navbar-brand-img {
	width: 100%;
	max-width: 150px;
    height: auto;
}

#top-menu-1 a.nav-link {
	font-family: HelveticaNeueCyr-Roman;
}

.ico-button {
	opacity: 75%;
	transition: .25s;
}

.ico-button:hover {
	opacity: 100%;
}

#top-menu-1 {
	position: absolute;
	width: 100%;
	z-index: 999;
	border-bottom: 1px solid #eaeaea;
}

#top-menu-1 > .container {
	height: 85px;
}

#top-menu-4 {
	width: 100%;
	z-index: 999;
}

#top-menu-1 span, #top-menu-1 .nav-link {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	color: #4b4b4b;
	line-height: 18px;
	opacity: .85;
	cursor: pointer;
	transition: .25s;
}

#top-menu-1 span:hover,
#top-menu-1 .nav-link:hover {
	opacity: 1;
}

/* Header phone */
nav .header-phone {
	font-family: Gilroy-Bold;
	font-size: 22px;
	color: #323232;
	text-decoration: none;
	line-height: 14px;
} 

#top-menu-1 .header-phone span {
	color: #7e3300;
	font-family: Gilroy-Bold;
	font-size: 22px;
	text-decoration: none;
	line-height: 14px;
}/* End header phone */

/* Header callback */
.header-callback {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	color: #4b4b4b;
	text-decoration: none;
	line-height: 16px;
}

.header-callback:hover {
	text-decoration: underline;
	color: #4b4b4b;
} /* End header callback */
/*** END TOP MENU 1 ***/


/*** TOP MENU 2 ***/
#navbarSupportedContent1 {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	color: #4b4b4b;
}


/* Menu items */
#main-menu,
#navbarSupportedContent3,
#menu-main-menu-2,
#menu-main-menu-3,
.dropdown-menu
{
	font-family: HelveticaNeueCyr-Medium;
	font-size: 14px;
}


/* Пункты меню */
#main-menu .nav-link {
	color: #4b4b4b;
}

/* Пункты меню active and hover*/
#main-menu .nav-link.active, #main-menu .nav-link:hover,
#navbarSupportedContent3 .nav-link.active, #navbarSupportedContent3 .nav-link:hover,
#menu-main-menu-2 .nav-link.active, #menu-main-menu-3 .nav-link:hover,
.navbar-nav .nav-link.active {
	color: #7e3300;
}


#vyzov-na-zamer-top-menu-line-height {
	line-height: 20px!important;
}

#main-menu, #navbarSupportedContent3, #menu-main-menu-2, #menu-main-menu-3 {
	text-transform: uppercase;
}

#main-menu .nav-link img, #navbarSupportedContent3 .nav-link img {
	position: relative;
	bottom: 2px;
}

#top-menu-2 {
	/* border-top: 1px solid rgba(175,175,175,.5); */
	background: #f8f9fa;
	position: absolute;
	width: 100%;
	z-index: 999;
	top: 86px;
	/*transition: .25s;
	height: 100px;*/
	padding-top: 12px;
	padding-bottom: 12px;
}

.dropdown-menu .d-none.d-xxl-inline {
	display: none!important;
}

/* Cart */
.cart-quantity-products {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 16px;
	color: #4b4b4b;
	position: relative;
	right: -8px;
	text-transform: lowercase;
	line-height: 16px;
}

.cart-total-price {
	font-family: HelveticaNeueCyr-Light;
	font-size: 12px;
	color: #4b4b4b;
	position: relative;
	right: -8px;
	text-transform: lowercase;
	line-height: 16px;
}

.woocommerce-mini-cart__total strong,
.woocommerce-Price-currencySymbol {
	display: none;
}
/*
td .attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
	width: 100%;
	height: auto;
}*/
/* End cart */

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	float: none;
}
/*** END TOP MENU 2 ***/


/*** HOME HEADER ***/
header {
	padding-top: 265px;
	padding-bottom: 150px;
}

/* Header parallax */
header .parallax {
	min-height: 100vh;
	width: 100%;
	position: fixed;
	bottom: 350px;
	/*background-image: url(../img/header-bg-2.jpg);*/
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	display: block;
}
/* End Header parallax */

header.second-header {
	padding-top: 200px;
	padding-bottom: 75px;
}

header h2 {
	font-family: Gilroy-Bold;
	color: white;
	font-size: 48px;
	margin-bottom: 40px;
}

.header-form {
	padding: 30px 20px;
	border: 2px solid #ffe5d0;
	border-radius: 5px;
}

.header-form h5 {
	color: #ffe5d0;
	margin-bottom: 25px;
	text-align: center;
	font-size: 22px;
	font-family: HelveticaNeueCyr-Light;
}

.header-description, .term-description p {
	font-family: HelveticaNeueCyr-Light;
	color: #ffffff;
	font-size: 22px;
	max-width: 1025px;
	margin-bottom: 0;
}
/*** END HOME HEADER ***/


/*** CATALOGY ***/
.catalogy-section h3 {
	font-family: HelveticaNeueCyr-Medium;
	color: #323232;
	font-size: 20px;
}

.catalogy-header {
	padding-top: 200px;
	padding-bottom: 125px;
	background: url(../img/header-bg.jpg) center;
	background-size: cover;
}

/*
.catalogy-section {
	background: url(../img/section-bg.jpg) center repeat-y;
	background-size: cover;
} */

/* Checkboxes *
.form-check {
	padding-left: 0;
}

.form-check input[type=checkbox] {
	display: none;
}

.form-check label {
	display: inline-block;
	cursor: pointer;
	/*position: relative;
	padding-left: 38px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;*
	font-family: HelveticaNeueCyr-Roman;
	color: #323232;
	font-size: 14px;
	text-transform: uppercase;
}

.form-check label span {
	font-family: HelveticaNeueCyr-Light;
}

.form-check label:before {
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	position: relative;
    top: 2px;
	background: url(../img/ico/checkbox.png) 0 0 no-repeat;
}

/* Checked *
.form-check input[type=checkbox]:checked + label:before {
	background: url(../img/ico/checkbox-checked.png) 0 0 no-repeat;
}
 
/* Hover *
.form-check label:hover:before {
	filter: brightness(120%);
}
 
/* Disabled *
.form-check input[type=checkbox]:disabled + label:before {
	filter: grayscale(100%);
}
/* End checkboxes */

.approximation {
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.approximation-sm {
	height: 220px;
}

.approximation-lg {
	height: 460px;
}

.approximation img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
	o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}

.approximation:hover img {
	-webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.card {
	width: 100%;
	border: 1px solid #969696;
}

.card h2 {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 14px;
	color: #4b4b4b;
	text-transform: uppercase;
	min-height: 55px;
}

.card-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	background: rgba(0,0,0,.25);
	cursor: pointer;
}

.card-wrapper h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 35px;
	padding-bottom: 20px;
	font-family: Gilroy-Bold;
	color: #ffffff;
	color: white;
}

.card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.page-link {
	color: #7e3300;
}

.page-link:hover, .pagination .page-link.current {
	color: #7e3300;
	background-color: rgb(126 51 0 / 13%);
	/*border-color: var(--bs-pagination-hover-border-color);*/
}

.woocommerce-widget-layered-nav-list {
	list-style: none;
	padding-left: 0;
}

.woocommerce-widget-layered-nav-list li {
	position: relative;
}


.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:before,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:focus:before,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen a:before {
	content: '';
	display: inline-block;
	width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
	margin-right: 8px;
	position: relative;
	top: 3px;
	
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:focus:after,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen a:after {
	content: '';
	display: inline-block;
    width: 10px;
    height: 10px;
	background-color: #7e3300;
	margin-right: 8px;
	position: absolute;
	left: 4px;
    top: 7px;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen a:focus:after,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen a:active:after {
	opacity: 0;
}

/*
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:before {
	content: '';
	display: inline-block;
	width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
	margin-right: 8px;
	position: relative;
	top: 3px;
	
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:after {
	content: '';
	display: inline-block;
    width: 10px;
    height: 10px;
	background-color: #7e3300;
	margin-right: 8px;
	position: absolute;
	left: 4px;
    top: 7px;
	opacity: 0;
}

.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term a:focus:after,
.woocommerce-widget-layered-nav-list__item.wc-layered-nav-term.woocommerce-widget-layered-nav-list__item--chosen.chosen a:after {
	opacity: 1;
}*/

/*** END CATALOGY ***/


/*** CATALOGY SECTION 2 ***/
.catalogy-menu .nav-link {
	color: #323232;
	font-family: HelveticaNeueCyr-Light;
	font-size: 26px;
	opacity: 1!important;
}

.catalogy-menu .nav-link.active {
	font-family: HelveticaNeueCyr-Medium;
	color: #102a83;
}
/*** END CATALOGY SECTION 2 ***/

#header-catalogy {
	min-height: 400px;
	background: url(../img/catalogy-header-bg.jpg) center;
	background-size: cover;
}

#prices-header {
	min-height: 400px;
	background: url(../img/prices-header-bg.jpg) center;
	background-size: cover;
}

#actions-header {
	min-height: 400px;
	background: url(../img/actions-header-bg.jpg) center;
	background-size: cover;
}

#services-header {
	min-height: 400px;
	background: url(../img/services-header-bg.jpg) center;
	background-size: cover;
}

#about-header {
	min-height: 400px;
	background: url(../img/about-header-bg.jpg) center 75%;
	background-size: cover;
}

.title-line {
	width: 65px;
	height: 15px;
	position: relative;
}

.title-quadro {
	width: 15px;
	height: 15px;
	background: #ffe5d0;
	position: absolute; 
}

/*** PORTFOLIO SECTIONS ***/
.post-entry, .project-entry {
	overflow: hidden;
	position: relative;
	display: block;
}
  .post-entry .figure, .project-entry .figure {
    overflow: hidden;
    margin-bottom: 20px; }
  .post-entry h3, .project-entry h3 {
    font-size: 20px;
    line-height: 1.3; }
    .post-entry h3 a, .project-entry h3 a {
      color: #000; }
  .post-entry img, .project-entry img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .post-entry:hover img, .project-entry:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
	
.figure {
  display: inline-block; }
  
.post-entry .figure, .project-entry .figure {
	overflow: hidden;
    margin-bottom: 20px;
}

.light {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}

.light img {
	width: 100%;
	height: 100%;
	o-object-fit: cover;
	object-fit: cover;
	object-position: center;
}

.magnifier {
    transition: 0.35s;
    opacity: 0;
	position: absolute;
	background: url(../img/ico/private-eye-magnifying-glass.png) no-repeat center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.magnifier:hover {
    cursor: pointer;
    opacity: 1;
}
/*** END PORTFOLIO SECTIONS ***/


/*** ABOUT US ***/
.about-header {
	padding-top: 250px;
	padding-bottom: 175px;
	background: url(../img/about-header-bg.jpg) center;
	background-size: cover;
}

.about-us-section {
	/*background: #121C26 url(img/about-us-img.jpg) 110% 50% no-repeat;
	background-size: contain;*/
	position: relative;
	overflow: hidde;
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-us-section-img {
	background: url(../img/about-us-img.jpg) center;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50%;
	left: 0;
}

.about-contacts-section {
	background: url(../img/about-contacts-bg.jpg) 50% 0%;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}
/*** END ABOUT US ***/


/*** ORDER SECTION ***/
.order-section {
	position: relative;
	overflow: hidded;
	padding-top: 75px;
	padding-bottom: 75px;
}

.order-section .order-section-img {
	position: absolute;
	top: 0;
	bottom: 0;
}
/*** END ORDER SECTION ***/


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: HelveticaNeueCyr-Roman;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   font-family: HelveticaNeueCyr-Roman;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   font-family: HelveticaNeueCyr-Roman;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: HelveticaNeueCyr-Roman;
}
::-ms-input-placeholder { /* Microsoft Edge */
   font-family: HelveticaNeueCyr-Roman;
}
::placeholder { /* Most modern browsers support this now. */
   font-family: HelveticaNeueCyr-Roman;
}


.product-cat-title {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 20px;
	color: #323232;
	text-decoration: none;
	transition: .25s;
	line-height: 120%;
}

.product-cat-title.active {
	color: #ff5200;
}

.product-cat-title:hover {
	color: #ff5200;
}

.price {
	font-family: Gilroy-Semibold;
	font-size: 26px;
	color: #7e3300;
	display: block;
    text-align: center;
	margin-bottom: 15px;
}

.single-product-section .price {
    text-align: left;
}

.woocommerce-notices-wrapper {
	display: none;
}

.old-price {
	font-family: Gilroy-Regular;
	font-size: 18px;
	color: #737373;
	line-height: 10px;
}

.discount-single-product {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 24px;
	color: #323232;
}

.discount-single-product span {
	font-family: HelveticaNeueCyr-Medium;
}

.advantages ul, .delivery-section ul {
	list-style: none;
}

.advantages li, .delivery-section li {
	font-family: HelveticaNeueCyr-Light;
	font-size: 18px;
	color: #323232;
}

.advantages li {
	font-family: HelveticaNeueCyr-Light;
	line-height: 18px;
}

.advantages li img {
	position: relative;
	top: -2px;
}

/*** SINGLE PRODUCT SECTION ***/
.single-product-section td,
.single-product-section th {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
	color: #323232;
	background: rgb(235,235,235);
    border-top: none;
	border-left: none;
	border-bottom: 4px solid white;
	border-right: 12px solid white;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
    width: 50%;
	height: 30px;
}


.single-product-section td p,
.single-product-section th p {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 16px;
	color: #323232;
	margin-bottom: 0;
}

label.screen-reader-text {
	display: none;
}

.single-product-img {
	width: 100%;
	height: 450px;
	position: relative;
	overflow: hidden;
}

.single-product-img img {
	width: 100%;
	height: 100%;
	transition: .3s all ease;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	o-object-fit: contain;
	object-fit: contain;
	object-position: contain;
}

.wp-post-image {
	width: 100%;
	height: auto;
}
/*** END SINGLE PRODUCT SECTION ***/


/*** СТИЛИЗАЦИЯ RADIO ***
input[type='range'] {
	/* overflow: hidden;
	width: 80px; */
	/*-webkit-appearance: none;*/
	/*background-color: #ff5200;*
}

input[type='range']::-webkit-slider-runnable-track {
	/* height: 10px; *
	-webkit-appearance: none;
	/* color: #13bba4;
	margin-top: -1px; */
}

/* Point *
input[type='range']::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	/* -webkit-appearance: none;
	cursor: ew-resize; *
	background: #ff5200;
	box-shadow: 0 0 0 0 #ff5200;
}

input[type='range']::-webkit-slider-thumb:active {
	background: #ff5200;
}
/*** END СТИЛИЗАЦИЯ RADIO ***/

.material-section ul {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 18px;
	list-style: none;
	color: #323232;
}

.tkan-title {
	font-family: HelveticaNeueCyr-Light;
}


/*** PROCESS SECTION ***/
.process-section {}
/*** END PROCESS SECTION ***/


/*** CONTACTS SECTION ***/
/* Contacts Menu 1 */
#contacts-menu-1 .nav-link, #contacts-menu-1 .nav-link span {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
	color: #e1e1e1;
	line-height: 18px;
	cursor: pointer;
	transition: .25s;
}

#contacts-menu-1 .nav-link:hover {
	opacity: .85;
}
/* End Contacts Menu 1 */

/* Contacts Menu 2 */
#contacts-menu-2, #menu-main-menu-2, #menu-main-menu-3 {
	font-family: HelveticaNeueCyr-Medium;
	font-size: 14px;
}

/* Пункты меню */
#contacts-menu-2 .nav-link {
	color: #e1e1e1;
}

/* Пункты меню active and hover*/
#contacts-menu-2 .nav-link.active, #contacts-menu-2 .nav-link:hover {
	color: #7e3300;
}


#vyzov-na-zamer-top-menu-line-height {
	line-height: 20px!important;
}

#contacts-menu-2 {
	text-transform: uppercase;
}

#contacts-menu-2 .nav-link img {
	position: relative;
	bottom: 2px;
}
/* End Contacts Menu 2 */

/* Contacts phone */
.contacts-phone {
	font-family: Gilroy-Bold;
	font-size: 22px;
	color: #f5f5f5;
	text-decoration: none;
	line-height: 14px;
} 

.contacts-phone span {
	color: #7e3300;
	font-family: Gilroy-Bold;
	font-size: 22px;
	text-decoration: none;
	line-height: 14px;
}/* End Contacts phone */

.contacts-section {
	background: url(../img/contacts-bg-2.jpg) bottom center;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.contacts-section .nav-link {
	color: #e1e1e1;
}

.contacts-page.contacts-section {
	background: url(../img/contacts-contacts-bg.jpg) center 25%;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.contacts-section > .container {
	padding-top: 75px;
	padding-bottom: 75px;
}

.contacts-section ul {
	list-style: none;
	padding-left: 0rem;
}

.contacts-section li {
	padding-left: none;
	color: #f5f5f5;
	/*font-family: HelveticaNeueCyr-Roman;
	font-size: 22px;*/
}

#map {
	height: 450px;
}

.float-left {
	width: 40px;
	float: left;
	text-align: center;
}

.float-right {
	width: calc(100% - 40px);
	float: right;
}
/*** END CONTACTS ***/

footer {
	border-top: 1px solid #969696;
	color: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
}

#company-in-footer {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 20px;
}

#im-in-footer {
	font-family: HelveticaNeueCyr-Roman;
	font-size: 14px;
}


#background-msg {
	background: black;
	z-index: 9999;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.9;
	cursor: pointer;
}

#message {
	z-index: 9999;
	max-width: 450px;
	position: fixed;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 130%;
	color: white;
	margin: auto;
}


/*** CALLBACK BUTTON ***/
.callback-button-wrapper {
	position: fixed;
	bottom: 85px;
	right: 15px;
	z-index: 999;
}

.callback-button {
	width: 70px;
	height: 70px;
	background: #7e3300;
	border-radius: 50%;
	animation: waves linear 2s infinite;
	-webkit-animation: waves linear 2s infinite;
	transition: .25s;
	cursor: pointer;
	padding-top: 15px;
	padding-left: 15px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 999;
}

@keyframes waves {
	0% {
		box-shadow: 0 0 0 0 rgba(126, 51, 0,.3), 0 0 0 0 rgba(126, 51, 0,.3), 0 0 8px 0 rgba(0,0,0,.5);
	}
	50% { box-shadow: 0 0 0 0 rgba(126, 51, 0,.15), 0 0 0 15px rgba(126, 51, 0,.15), 0 0 8px 0 rgba(0,0,0,.5);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(126, 51, 0,0), 0 0 0 30px rgba(126, 51, 0,0), 0 0 8px 0 rgba(0,0,0,.5);
	}
}

.callback-button:hover {
	background: #bb5714;
}

.callback-button-ico {
	width: 40px;
	height: 40px;
	filter: invert();
	animation: change linear 16s infinite;
	-webkit-animation: change linear 16s infinite;
	-webkit-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@keyframes change {
	0% {
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform:rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
	1% {
		background-image: url(../img/ico/callback-button-ico.png);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		opacity: 1;
	}
	
	24%{
		background-image:url(../img/ico/callback-button-ico.png);
		background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size:cover;-
		moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		-o-transform:rotate(360deg);
		transform:rotate(360deg);
		opacity:1
	}
	25%{background-image:url(../img/ico/callback-button-ico.png);
	background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	26%{background-image:url(../img/ico/callback-phone-ico.png);
	background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	27%{background-image:url(../img/ico/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);opacity:1}
	49%{background-image:url(../img/ico/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg);-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg)}
	50%{background-image:url(../img/ico/callback-phone-ico.png);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);opacity:0}
	51%{background-image:url(../img/ico/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;transform:rotate(0deg);opacity:0}
	52%{background-image:url(../img/ico/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg)}
	74%{background-image:url(../img/ico/callback-whatsapp-ico.svg);background-position:center;background-repeat:no-repeat;background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;opacity:1;transform:rotate(360deg)}
	75% {
		background-image: url(../img/ico/callback-whatsapp-ico.svg);
		background-position:center;
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity: 0;
	}
	76% {
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position:center;
		background-repeat: no-repeat;
		-moz-background-size: cover;
		-webkit-background-size:cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity:0}
	77% {
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position:center;
		background-repeat:no-repeat;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover;background-size:cover;
		-webkit-transform:rotate(360deg);
		transform:rotate(360deg);
		opacity: 1;
	}
	99%{background-image:url(../img/ico/callback-telegram-ico.svg);
	background-position:center;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;-webkit-transform:rotate(360deg);transform:rotate(360deg);opacity:1}
	100% {
		background-image: url(../img/ico/callback-telegram-ico.svg);
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0;
	}
}

@keyframes change2 {
	0% {
		background-image: url(../img/ico/callback-button-close.png);
		background-position :center;
		background-repeat: no-repeat;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		transform: rotate(0deg);
		opacity: 0;
	}
	50% {
		background-image: url(../img/ico/callback-button-close.png);
		background-position: center;
		background-repeat:no-repeat;
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-o-background-size:cover;
		transform:rotate(180deg);
		opacity:1
	}
}

.callback-form-button {
	width:50px;
	height:50px;
	background:#7e3300;
	border-radius:50%;
	cursor:pointer;
	padding-top:10px;
	padding-left:10px;
	position:absolute;
	left:10px;
	top:10px;z-index:1;transition:.25s}
	
.callback-form-button:hover {
	background: #bb5714;
}
	
.callback-form-button-ico{
	width:30px;
	height:30px;
	filter:invert();
	background:url(../img/ico/callback-ico.svg) center no-repeat;
	background-size:contain;
	-moz-background-size:contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-phone-button {
	width: 50px;
	height: 50px;
	background: #7e3300;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}
	
.callback-phone-button:hover {
	background: #bb5714;
}

.callback-phone-button-ico{
	width:30px;
	height:30px;
	filter:invert();
	background:url(../img/ico/callback-phone-ico.svg) center no-repeat;
	background-size:contain;
	-moz-background-size:contain;
	-webkit-background-size:contain;
	-o-background-size: contain;
}

.callback-whatsapp-button{
	width: 50px;
	height: 50px;
	background: #7e3300;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left: 10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-whatsapp-button:hover {
	background: #bb5714;
}

.callback-whatsapp-button-ico{
	width: 30px;
	height: 30px;
	filter: invert();
	background: url(../img/ico/callback-whatsapp-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
}

.callback-telegram-button {
	width: 50px;
	height: 50px;
	background: #7e3300;
	border-radius: 50%;
	cursor: pointer;
	padding-top: 10px;
	padding-left:10px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	transition: .25s;
}

.callback-telegram-button:hover {
	background: #bb5714;
}

.callback-telegram-button-ico{
	width: 30px;
	height:30px;
	filter: invert();
	background: url(../img/ico/callback-telegram-ico.svg) center no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size :contain;
}
/*** CALLBACK BUTTON ***/





/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
	h1 {
		max-width: 850px;
	}
	
	/* Header phone */
	#top-menu-1 .header-phone {
		font-family: Gilroy-Bold;
		font-size: 20px;
		color: #323232;
		text-decoration: none;
		line-height: 14px;
	} 

	#top-menu-1 .header-phone span {
		color: #7e3300;
		font-family: Gilroy-Bold;
		font-size: 20px;
		text-decoration: none;
		line-height: 14px;
	}/* End header phone */
	
	header .parallax {
		min-height: 100vh;
		width: 100%;
		position: fixed;
		bottom: 150px;
		background: url(../img/header-bg.jpg) no-repeat;
		background-size: cover;
		z-index: -1;
		display: block;
	}
	
	.light {
		height: 450px;
	}
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	#top-menu-2 {
		/* background: rgb(0,0,0,.7); */
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0px;
		height: auto;
	}
	
	/* */
	.navbar-brand img {
		height: 35px;
	}
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
	header {
		padding-top: 150px;
		padding-bottom: 50px;
	}
	
	header.second-header {
		padding-top: 125px;
		padding-bottom: 50px;
	}
	
	header .parallax {
		background: url(../img/header-bg.jpg) 75% 50% no-repeat;
		bottom: 350px;
	}
	
	.header-description {
		margin-bottom: 45px;
		font-size: 18px;
	}
	
	.light {
		height: 300px;
	}
	
	.order-section img {
		left: -20%;
	}
	
	
	.contacts-section {
		background: url(../img/contacts-bg.jpg) bottom center;
	}
	
	#map {
		position: static;
		height: 450px;
	}
	
	/*** SINGLE PRODUCT SECTION ***/
	.single-product-img {
		width: 100%;
		height: 450px;
	}

	.single-product-img img {
		o-object-fit: contain;
		object-fit: contain;
		object-position: contain;
	}
	/*** END SINGLE PRODUCT SECTION ***/
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .card h2 {
	min-height: auto;
}

}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {	
	h1 {
		font-size: 30px;
		margin-bottom: 15px;
	}
	
	header .parallax {
		background: url(../img/header-bg.jpg) 35% 50% no-repeat;
		bottom: 150px;
	}
	
	header h2 {
		font-size: 24px;
	}
	
	.header-description {
		margin-bottom: 20px;
	}
	
	.header-form {
		padding: 15px 20px 20px 20px;
		border: 2px solid #ffe5d0;
		border-radius: 5px;
	}
	
	.header-form h5 {
		margin-bottom: 20px;
		font-size: 20px;
	}
	
	/*** CATALOGY ***/
	.catalogy-section {
		background-size: contain;
	} /*** END CATALOGY ***/
	
	.approximation-lg, .approximation-sm {
		height: 300px;
	}
	
	.light {
		height: 250px;
	}
	
	.price {
		font-size: 24px;
	}
	
	.product-cat-title {
		font-family: HelveticaNeueCyr-Light;
		font-size: 16px;
	}
	
	.product-cat-title span {
		line-height: 10px;
	}
	
	.advantages ul {
		padding-left: 0;
	}
	
	#company-in-footer {
		font-size: 16px;
	}
}

span.optional {
	display: none;
}

ul.wc_payment_methods.payment_methods.methods {
	padding-left: 0;
	margin-top: 15px;
	list-style: none;
}


.left-col-footer-menu ul li:nth-child(4n-1){display:none!important}

.right-col-footer-menu ul li:nth-child(4n+1){display:none!important}


/* Search */
.dgwt-wcas-search-wrapp {
	width: 100%;
	max-width: 100%;
	margin: 0;
	margin-bottom: 30px;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp {
	padding: 0;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input {
    border-radius: 7px!important;
	background-color: #FFFFFF;
	border: 1px solid #dee2e6;
	padding: 13px 24px 13px 46px;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:hover {
	background-color: #FFFFFF;
	border-color: #c8c8c8;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:active {
	background-color: #FFFFFF;
	border-color: #c8c8c8;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp input[type=search].dgwt-wcas-search-input:focus {
	background-color: #FFFFFF;
	border-color: #c8c8c8;
}

.dgwt-wcas-style-pirx .dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
   top: 10px;
   left: 10px;
}
/* Ens search */


